{% extends "base.html" %}
{% block title %}Weight{% endblock %}
{% block content %}
{# Weight Observations: #}
<form action="{% url 'weight:index' %}" method="POST">
  {% csrf_token %}
  {{ observation_form }}
  <input type="hidden" name="form_name" value="add_observation">
  <input type="submit" value="Submit">
</form>
{% if recent_observation_details is not None %}
<form action="{% url 'weight:index' %}" method="POST">
  {% csrf_token %}
  <label for="choice">Delete recent observations:</label>
  <select name="choice" id="choice">
    {% for observation in recent_observation_details %}
    <option value="{{observation.id}}">{{observation.label}}</option>
    {% endfor %}
  </select>
  <input type="hidden" name="form_name" value="delete_observation">
  <input type="submit" value="Delete" onclick="return confirm('Are you sure you wish to delete this observation?')">
</form>
{% endif %}

{# Weight Targets: #}
<form action="{% url 'weight:index' %}" method="POST">
  {% csrf_token %}
  {{ target_form }}
  <input type="hidden" name="form_name" value="add_target">
  <input type="submit" value="Submit">
</form>
{% if target_details is not None %}
<form action="{% url 'weight:index' %}" method="POST">
  {% csrf_token %}
  <label for="choice">Delete targets:</label>
  <select name="choice" id="choice">
    {% for target in target_details %}
    <option value="{{target.id}}">{{target.label}}</option>
    {% endfor %}
  </select>
  <input type="hidden" name="form_name" value="delete_target">
  <input type="submit" value="Delete" onclick="return confirm('Are you sure you wish to delete this target?')">
</form>
{% endif %}
{{ plot | safe }}
{% endblock %}